div.input{
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
}
input{
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
}

div.list{
    background-color: antiquewhite;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 20px;

}

.list-item{
    background-color: white;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-radius: 5px;
}