.hero-header{
    display: flex;
    justify-content: space-between;
}

.left,  .right{
width: 50%;
}

.right img{
    width: 100%;
}

.buttons
{
    margin: 10px;
}
.buttons input:first-child{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.buttons input:last-child{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.left h1, p{
    margin: 15px;
}

nav{
    max-width: 1200px;
    background-color: rgb(239, 234, 234);
    margin: 10px auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
    line-height: 24px;
}

aside ul{
    list-style: none;
}

aside div{
    border: 2px solid brown;
    border-radius: 10px;
    padding: 20px;
}
@media screen and (max-width:600px){
    .right img{
        filter: blur(7px);
        z-index: -1;
    }
    .right{
        position: absolute;
        width: 100%;
    }
    .left{
        width: 100%;
        z-index: 1;
        background-color: #efefef5d
        ;
    }

    nav{
        margin-top: 30px;
    }  
}


